%{ for role in roles ~}
[${role}]
%{ for name, data in role_map[role] ~}
${name} ansible_host=${data.vm_ip} ansible_user=${data.vm_username} ansible_ssh_pass=${data.vm_password} ansible_ssh_private_key_file=../.secrets/id_rsa_${data.primary_key}
%{ endfor ~}

%{ endfor ~}
